@import "tailwindcss";

/* Particals */
.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Galaxy */
.galaxy-container {
  width: 100%;
  height: 100%;
  position: relative;
}


@keyframes floatSlow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: floatSlow 4s ease-in-out infinite;
}
